@font-face {
    font-family: 'Silkscreen';
    src:url('./font/Silkscreen-Regular.woff2') format('woff2');
        url('./font/Silkscreen-Regular.ttf') format('ttf'),
    /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
    font-weight: 400;
}
html{
    font-size: 16px;
}
*{
    font-family: "Noto Sans KR", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.nav_menu{
   transition: 0.2s ease-out;
    border-radius: 20%;
}
.nav_menu:hover{
    border-radius: 90% 80%;
}
[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: #999;
}