<script>
    console.log(`m : <%=m%>\nm2: <%=m2%>\nm3: <%=m3%>
    `)
</script>
<footer>
    <div class="border-t-2 border-t-slate-700 h-[120px] mt-5 bg-slate-900">

    </div>
</footer>
</body>
</html>