<!Doctype html>
<html>
<head>
    <title>커뮤니티</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, user-scalable=yes" name="viewport">
    <link rel="stylesheet" href="css/tailwind.css">
    <link href="css/tailwind.dev.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="h-24 bg-gray-400 flex items-center justify-center">
            헤더부분
        </div>
    </header>




