<%- include('header') %>
<div class="m-auto font-sans-kr flex justify-between" style="width:1200px">
<main class="w-3/4 pr-10">
    <div class="flex justify-center border-amber-200 border h-full items-center">
        메인 컨텐츠
    </div>
</main>
<%- include('aside') %>
</div>
<%- include('footer') %>