<nav>
    <div class="py-9 px-[10%] width-[80%] flex items-end flex-row justify-between">
        <div class="flex flex-row items-end">
            <h1 class="Silkscreen text-6xl text-slate-700 flex mr-10">
                <span class="Silkscreen text-sky-800">U</span>
                <span class="Silkscreen text-yellow-400">t</span>
                <sapn class="Silkscreen text-red-600">o</sapn>
                <span class="Silkscreen text-green-700">P</span>
                <span class="Silkscreen text-yellow-400">i</span>
                <span class="Silkscreen text-sky-800">A</span>
            </h1>
            <div class="nav_menu">
                <a href="<%=STATIC_URL%>/board/hit">
                    인기게시판
                </a>
            </div>
            <div class="nav_menu">
                <a href="<%=STATIC_URL%>/board/free">
                    자유게시판
                </a>
            </div>
        </div>
        <div class="flex items-center">
            <a href="javascript:;" onclick="open_menu()">
                <i class="xi-bars text-4xl relative -top-1"></i>
            </a>
        </div>
    </div>
</nav>